@import 'styles/mixins';
:global {
  .tp {
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 3px;
    @include color-variant(white, black);
    &--active {
      opacity: 1;
    }
    & &-inner {
      font-size: 80%;
      padding: 0.3em 0.8em;
    }
  }
}
