@mixin size($width: null, $height: $width) {
  width: $width;
  height: $height;
}
@mixin row($height: null, $line-height: $height) {
  height: $height;
  line-height: $line-height;
}
@mixin w($min-width: null, $width: $min-width, $max-width: $width) {
  min-width: $min-width;
  width: $width;
  max-width: $max-width;
}
