$brand--primary:                            #4285f4 !default;
$brand--success:                            #26ad58 !default;
$brand--success_border-color:               #b8e6c8 !default;
$brand--success_bgc:                        #f2faf5 !default;
$brand--info:                               #5bc0de !default;
$brand--warning:                            #f0ad4e !default;
$brand--danger:                             #d9534f !default;
//////////////////// font-size.
$font-size:                                 1rem !default;
$font-size--xs:                             .75rem !default;
$font-size--sm:                             .85rem !default;
$font-size--lg:                             1.25rem !default;
/////////////////// line-height
$line-height:                               1.5 !default;
$line-height--xs:                           1.2 !default;
$line-height--sm:                           1.35 !default;
$line-height--lg:                           (4/3) !default;
/////////////////// border
$border-radius:                             .25rem !default;
$border-radius--xs:                         .16rem !default;
$border-radius--sm:                         .2rem !default;
$border-radius--lg:                         .3rem !default;
$border_width:                              .0625rem !default;
//////////////////// spacing
$spacer:                                    1rem !default;
$spacer--xs:                                .25rem !default;
$spacer--sm:                                .5rem !default;
$spacer--md:                                1rem !default;
$spacer--lg:                                1.5rem !default;
$spacer--xl:                                3rem !default;

$spacer-breakpoints_x: (
  0:    0,
  xs:   $spacer--xs,
  sm:   $spacer--sm,
  md:   $spacer--md,
  lg:   $spacer--lg,
  xl:   $spacer--xl,
  o:    auto
) !default;
$spacer-breakpoints_y: (
  0:    0,
  xs:   $spacer--xs,
  sm:   $spacer--sm,
  md:   $spacer--md,
  lg:   $spacer--lg,
  xl:   $spacer--xl,
  o:    auto
) !default;
////////////////////// Grid
$grid-columns:                              12 !default;
$grid-gutter-width:                         1.875rem !default; // 30px
$grid-breakpoints: (
  xs: 0,
  sm: 34em,
  md: 48em,
  lg: 62em,
  xl: 75em
) !default;
////////////////////// images
$thumb-size-variants: (
  xs: 1.2rem 0.2rem,
  sm: 1.8rem 0.4rem,
  md: 2.6rem 0.4rem,
  lg: 3.6rem 0.4rem,
  xl: 4.2rem 0.4rem
) !default;
/////////////////////// buttons
$btn_color--primary:                        #fff !default;
$btn_color--success:                        #fff !default;

$btn_bgc--primary:                          $brand--primary !default;
$btn_bgc--success:                          $brand--success !default;

$btn_border-color--primary:                 $btn_bgc--primary !default;
$btn_border-color--success:                 $btn_bgc--success !default;

$btn_padding:                               .375rem 1rem !default;
$btn_padding--xs:                           .125rem 0.75rem !default;
$btn_padding--sm:                           .25rem 1rem !default;
$btn_padding--lg:                           .75rem 1.25rem !default;

$btn_font-size:                             $font-size !default;
$btn_font-size--xs:                         $font-size--xs !default;
$btn_font-size--sm:                         $font-size--sm !default;
$btn_font-size--lg:                         $font-size--lg !default;

$btn_line-height:                           $line-height !default;
$btn_line-height--xs:                       $line-height--xs !default;
$btn_line-height--sm:                       $line-height--sm !default;
$btn_line-height--lg:                       $line-height--lg !default;

$btn_border-radius:                         $border-radius !default;
$btn_border-radius--xs:                     $border-radius--xs !default;
$btn_border-radius--sm:                     $border-radius--sm !default;
$btn_border-radius--lg:                     $border-radius--lg !default;
////////////////////////////// form-control
$form-control_padding:                      .375rem 1rem !default;
$form-control_padding--sm:                  .25rem 1rem !default;
$form-control_padding--lg:                  .75rem 1.25rem !default;

$form-control_font-size:                    $font-size !default;
$form-control_font-size--sm:                $font-size--sm !default;
$form-control_font-size--lg:                $font-size--lg !default;

$form-control_line-height:                  $line-height !default;
$form-control_line-height--sm:              $line-height--sm !default;
$form-control_line-height--lg:              $line-height--lg !default;

$form-control_border-radius:                $border-radius !default;
$form-control_border-radius--sm:            $border-radius--sm !default;
$form-control_border-radius--lg:            $border-radius--lg !default;
